@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Manrope", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: #212121;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    background-color: #222831;
}

.post-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70rem;
    
    gap: 40px;
    justify-self: center;
}

.post {
    display: flex;
    flex-direction: column;
    background-color:#313647;
    border-radius: 10px;
    padding: 10px;
    height: 15rem;
}

h1{
    text-align: center;
}

.post h2 {
    margin-bottom: 30px;
}

h3 {
    font-size: 16px;
}

.sidebar h2 {
    margin-top: 20px;
    text-align: center;
}

.sidebar li {
    margin-left: 30px;
    list-style: none;
}

.detail-page {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-page h2 {
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.details {
    width: 800px;
    gap: 20px;
   
}

.details h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.details p {
    color: #7F8CAA;
    margin-bottom: 20px;
}

.not-found {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.not-found h1 {
    font-size: 80px;
    margin-bottom: 30px;
}

